<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dbpigmentationapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pigment Studio"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".subMenus.ConsultaColor" />
        <activity android:name=".subMenus.ConsultaNombre" />
        <activity android:name=".subMenus.ConsultaElemento" />
        <activity android:name=".subMenus.Graficas" />
        <activity android:name=".subMenus.ReportarBug" />
        <activity android:name=".subMenus.ConsultaSimple" />
        <activity android:name=".subMenus.AñadirPigmento" />
        <activity android:name=".subMenus.TodosPigmentos" />
        <activity android:name=".subMenus.ConsultaAvanzada" />
        <activity android:name=".subMenus.finalViews.InformacionPigmento" />
        <activity
            android:name=".MainMenu"
            android:label="Pigment Studio"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>